body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 32px
}

ul {
  font-weight: lighter;
  font-size: 18px
}

.header {
  background-color: #263746;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px
}

.header li {
  display: inline;
  list-style: none;
  margin-right: 60px;
}

.header a {
  color: #fff;
  font-size: 12px
}

.header img {
  width: 130px
}

.hero {
  display: block;
  background: rgba(202,10,255,0.63);
  background-image: url("../img/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px
}

.hero h1 {
  color: #fff;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  margin-top: 100px;
  text-align: center
}@media (max-width:576px) {
  .hero h1 {font-size: 64px}
}

.hero p {
  color: #fff;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 32px;
  margin-top: -10px;
  text-align: center;
}

.hero .gray-button {
  display: block;
  border-style: none;
  border-radius: 0px;
  margin-right: 0%;
  margin-left: 20%;
  top: 320px;
  z-index: 17;
  width: 80%;
  height: 68px;
  background: #fff;
  color: #333333;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  /*float: left;*/
}@media (max-width:576px) {
  .hero .gray-button {margin-right: 10%; margin-left: 10%; margin-bottom: 10px}
}

.hero .gray-button:hover {
  background: rgba(160,160,160,1);
}

.hero .orange-button {
  display: block;
  border-style: none;
  border-radius: 0px;
  margin-left: 0%;
  margin-right: 20%;
  top: 320px;
  z-index: 17;
  width: 80%;
  height: 68px;
  background: #FF6633;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  /*float: right;*/
}@media (max-width:576px) {
  .hero .orange-button {margin-right: 10%; margin-left: 10%;}
}

.hero .orange-button:hover {
  background: rgba(180,50,33,1);
}

.hero h6 {
  margin-top: 130px;
  color: #fff;
  text-align: center
}

.layer {
    background-color: rgba(202,10,255,0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section1 {
  background-color: rgba(231,231,231,1);
  /*height: 300px*/
  padding-bottom: 50px
}

/*.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}*/

.section1 .col-md-4 {
  padding-right: 5%
}

.section2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.section3 {
  margin-top: 60px;
  padding-bottom: 50px
}

.section3 img {
  width: 100%
}

h4 {
  font-size: 24px;
  line-height: 42px;
  color: #FF6633;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: 40px
}

.section3 p {
  font-weight: lighter;
}

.section4 {
  background-color: rgba(231,231,231,1);
  padding-top: 40px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px
}

h2 {
  text-align: left;
  font-weight: bold;
  margin-top: 50px
}

.line {
  border-style: solid none none none;
  border-width: 1px;
  border-color: #5e5e5e;
  border-radius: 0px;
  width: 103px;
  margin-top: 10px;
  position: absolute;
}

.section5 {
  background-color: rgba(231,231,231,1);
  padding-bottom: 40px
}

.section5 img {
  width: 80%
}@media (width:576px) {
    .section5 img {visibility: hidden;}
}

.section6 {
  background-color: rgba(231,231,231,1);
  padding-top: 40px
}

.section6 ul {
  margin-top: 50px;
  margin-bottom: 50px
}

li {
  margin-bottom: 10px
}

.section8 {
  background-color: #fff;
  padding-top: 40px
}

.section9 {
  margin-bottom: 0px;
  margin-top: 70px;
  height: 90%
}

.btn {
  border: none;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
}

.active {
  background: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.box {
  height: 300px;
  float: left;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
}

.box img {
  width: 300px;
}

.spacer {
  clear: both;
  height: 20px;
}

select {
  padding: 7px;
  text-align: center;
  background-color: #fff;
  max-width: 250px;
  border: solid 2px rgba(221,50,33,1);
  margin-right: 10px;
  color: #000
}

button {
  padding: 10px;
  text-align: center;
  background-color: rgba(221,50,33,1);
  max-width: 250px;
  border: solid 2px rgba(221,50,33,1);
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

#parent {
  margin-bottom: 100px
}

.section10 {
  margin-bottom: 70px
}

.testimonial-box {
   background-color: rgba(231,231,231,1);
   padding: 40px
}

.testimonial-box h5 {
  color: rgba(221,50,33,1);
}

.section11 {
  margin-bottom: 70px
}

.team {
  border: 1px solid #D8D8D8;
  text-align: center;
  padding: 30px;
}

.team h5 {
  color: rgb(221, 50, 33);
}

.team h6 {
  font-size: .875rem;
  line-height: 1.1428571429;
  font-weight: 700;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3px auto 12px auto;
}

.team p {
  font-size: .875rem;
  line-height: 1.5;
  text-align: left;
}
.team img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.footer {
  background-color: #263746;
  margin-bottom: -50px;
  height: 100px;
  color: #fff;
  padding-top: 20px;
}

/* POP UP */

.popup {
  width: 50%;
  padding: 30px;
  background-color: #fff;
}

.popup h2 {
  text-align: center;
  font-size: 28px;
  margin-top: 0px
}
